[Unit]
Description=Load zfs encryption keys
DefaultDependencies=no
After=zfs-import.target
Before=zfs-mount.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/zfs-load-cryptkey.sh

[Install]
WantedBy=zfs-mount.service
