[Unit]
Description=Web Server providing an SSL-encrypted password
After=network.target

[Service]
Type=simple
User=www-data
ExecStart=/usr/bin/python3 /usr/bin/zfskeyprovider.py
Restart=always
RestartSec=5
SyslogIdentifier=zfskeyprovider

[Install]
WantedBy=multi-user.target
