name: Code Quality Check

on:
  push:
    branches:
      - develop

jobs:
  lint:
    name: Run Flake8 and Linting
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8
          pip install pylint

      - name: Run flake8
        id: flake8
        run: |
          flake8 zfskeyprovider.py --count --statistics

      - name: Run linter
        id: pylint
        run: |
          pylint zfskeyprovider.py --disable=C0103
